@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "century gothic", Arial, Helvetica, sans-serif;
}

body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}

.header {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .header {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 80px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 30px;
  }
}
.header-brand {
  display: flex;
}
.header-brand span {
  display: flex;
  font-weight: bold;
  font-size: 50px;
  text-shadow: -2px 2px 3px #bdbdbd;
  cursor: pointer;
}
@media (max-width: 480px) {
  .header-brand span {
    font-size: 40px;
  }
}
.header-brand span div {
  color: #ffa600;
}
.header-nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-nav-bar ul {
    display: none;
  }
}
.header-nav-bar ul li {
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .header-nav-bar ul li {
    font-size: 13px;
    padding: 15px;
  }
}
.header-nav-bar ul li .active {
  background-color: #ffa600;
  padding: 10px;
  border-radius: 10px;
}
.header-nav-bar ul li .active:hover {
  color: white;
}
.header-nav-bar ul li a {
  color: black;
}
.header-nav-bar ul li a:hover {
  color: #632e02;
  transition: 400ms;
}
.header-social-media .social-menu {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  font-size: 30px;
}
@media (max-width: 768px) {
  .header-social-media .social-menu {
    display: none;
  }
}
.header-social-media .social-menu li {
  margin: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header-social-media .social-menu li {
    margin: 20px;
  }
}
.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #ffa600;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: none;
  margin: 10px 0;
}
@media (max-width: 1024px) {
  .header-menu-btn {
    display: flex;
  }
}

.container {
  display: flex;
  background-image: url("../image/design-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem 80px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 80px;
    background-image: none;
    background-color: #ffa600;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 10px 30px;
  }
}
.container-introduction {
  padding-top: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .container-introduction {
    width: 100%;
    padding: 20px 0;
  }
}
@media (max-width: 930px) {
  .container-introduction {
    align-items: center;
  }
}
.container-introduction h1 {
  font-size: 80px;
  color: #000000;
}
@media (max-width: 1280px) {
  .container-introduction h1 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .container-introduction h1 {
    font-size: 80px;
  }
}
@media (max-width: 930px) {
  .container-introduction h1 {
    text-align: center;
  }
}
.container-introduction h1 .color {
  color: #ffa600;
}
@media (max-width: 1024px) {
  .container-introduction h1 .color {
    color: #ffffff;
  }
}
.container-introduction .info {
  margin: 50px 0px 50px 50px;
}
@media (max-width: 1280px) {
  .container-introduction .info {
    margin: 30px 0 30px 30px;
  }
}
.container-introduction .info li {
  margin: 15px 0;
  font-size: 23px;
}
.container-introduction .info li::before {
  content: " ✓ ";
}
.container-introduction .buttons {
  margin: 25px 45px;
}
@media (max-width: 480px) {
  .container-introduction .buttons {
    margin: 25px 5px;
  }
}
.container-introduction .buttons button {
  padding: 17px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ffa600;
}
.container-introduction .buttons button:last-child {
  background-color: #632e02;
}
@media (max-width: 1024px) {
  .container-introduction .buttons button:last-child {
    color: #ffffff;
  }
}
@media (max-width: 1280px) {
  .container-introduction .buttons button {
    padding: 15px 30px;
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .container-introduction .buttons button {
    background-color: #ffffff;
    color: #632e02;
  }
}
.container-picture-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/salada-de-frutas.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media (max-width: 1024px) {
  .container-picture-img {
    width: 80%;
    background-size: contain;
  }
}
@media (max-width: 930px) {
  .container-picture-img {
    display: none;
  }
}

.about {
  max-width: 1300px;
  margin: 0 auto;
  padding: 120px 80px;
  display: flex;
}
@media (max-width: 1280px) {
  .about {
    padding: 80px;
  }
}
@media (max-width: 1024px) {
  .about {
    display: block;
    padding: 80px 30px;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 20px 30px;
  }
}
.about-cheff-pic {
  width: 50%;
  background-image: url("../image/photo-cheff.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media (max-width: 1024px) {
  .about-cheff-pic {
    width: 100%;
    background-size: contain;
    height: 60vh;
  }
}
.about-text-description {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 50px;
}
@media (max-width: 1024px) {
  .about-text-description {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .about-text-description {
    padding: 0;
  }
}
.about-text-description h2 {
  font-size: 60px;
  margin-bottom: 30px;
}
@media (max-width: 1280px) {
  .about-text-description h2 {
    font-size: 40px;
  }
}
.about-text-description .about-text-paragraph {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: justify;
}
@media (max-width: 1280px) {
  .about-text-description .about-text-paragraph {
    font-size: 18px;
    line-height: 25px;
  }
}
.about-text-description .info-list-about {
  margin: 20px 0;
}
.about-text-description .info-list-about li {
  margin: 15px 0;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .about-text-description .info-list-about li {
    font-size: 18px;
    line-height: 25px;
  }
}
.about-text-description .info-list-about li::before {
  content: " ✓ ";
}
.about-text-description button {
  padding: 17px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ffa600;
}
@media (max-width: 1280px) {
  .about-text-description button {
    padding: 15px 30px;
    font-size: 17px;
  }
}

.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 120px 80px;
}
@media (max-width: 1280px) {
  .content {
    padding: 80px 30px;
  }
}
@media (max-width: 1024px) {
  .content {
    padding: 30px;
  }
}
.content h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 1280px) {
  .content h2 {
    font-size: 40px;
  }
}
.content-category {
  display: flex;
}
.content-category .list {
  display: flex;
  width: 100%;
}
@media (max-width: 1090px) {
  .content-category .list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.content-category .list li {
  width: 25%;
  margin: 15px;
  text-align: center;
}
@media (max-width: 1090px) {
  .content-category .list li {
    width: 46%;
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .content-category .list li {
    display: block;
    width: 100%;
  }
}
.content-category .list li img {
  width: 100%;
  height: 350px;
  border-radius: 40px;
  cursor: pointer;
}
@media (max-width: 1210px) {
  .content-category .list li img {
    height: 310px;
  }
}
@media (max-width: 1090px) {
  .content-category .list li img {
    width: 350px;
    height: 450px;
  }
}
@media (max-width: 1024px) {
  .content-category .list li img {
    width: 300px;
    height: 400px;
  }
}
.content-category .list li span {
  margin-top: 0;
  font-size: 25px;
  display: block;
}

.dishers {
  max-width: 1300px;
  margin: 0 auto;
  padding: 120px 80px;
}
@media (max-width: 1280px) {
  .dishers {
    padding: 120px 30px;
  }
}
@media (max-width: 1024px) {
  .dishers {
    display: block;
    padding: 80px 30px;
  }
}
.dishers h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 1280px) {
  .dishers h2 {
    font-size: 40px;
  }
}
.dishers-content {
  margin: 20px 0;
}
.dishers-content .list-menu {
  display: flex;
  width: 100%;
}
@media (max-width: 1090px) {
  .dishers-content .list-menu {
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10px;
  }
}
.dishers-content .list-menu li {
  width: 25%;
  height: 500px;
  margin: 15px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 15px 20px #bdbdbd;
  border-radius: 150px;
  position: relative;
}
@media (max-width: 1090px) {
  .dishers-content .list-menu li {
    width: 270px;
    margin: 20px 40px;
  }
}
.dishers-content .list-menu li .dishers-type {
  width: 100%;
  height: 60%;
}
@media (max-width: 1280px) {
  .dishers-content .list-menu li .dishers-type {
    height: 55%;
  }
}
.dishers-content .list-menu li #card-1 {
  background-image: url("../image/prato1-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
@media (max-width: 1280px) {
  .dishers-content .list-menu li #card-1 {
    height: 60%;
  }
}
.dishers-content .list-menu li #card-2 {
  background-image: url("../image/prato2-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
@media (max-width: 1280px) {
  .dishers-content .list-menu li #card-2 {
    height: 60%;
  }
}
.dishers-content .list-menu li #card-3 {
  background-image: url("../image/prato3-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
@media (max-width: 1280px) {
  .dishers-content .list-menu li #card-3 {
    height: 60%;
  }
}
.dishers-content .list-menu li #card-4 {
  background-image: url("../image/prato4-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
@media (max-width: 1280px) {
  .dishers-content .list-menu li #card-4 {
    height: 60%;
  }
}
.dishers-content .list-menu li .price {
  margin: 20px;
  text-align: center;
  line-height: 25px;
  position: relative;
}
.dishers-content .list-menu li .price h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.dishers-content .list-menu li .price .quantity {
  display: block;
}
.dishers-content .list-menu li .price .total-price {
  font-weight: bold;
}
.dishers-content .list-menu li .add {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  cursor: pointer;
}
.dishers-content .list-menu li .add::before {
  content: "";
  font-family: "FontAwesome";
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 21px;
}

.form-discount {
  height: 450px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 80px;
  background-image: url("../image/restaurante.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(70%);
  position: relative;
}
.form-discount-signUp-input {
  background-color: #ffffffc9;
  padding: 40px;
  border-radius: 10px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: inline-block;
  width: 500px;
}
@media (max-width: 570px) {
  .form-discount-signUp-input {
    width: 80%;
    padding: 40px 15px;
    text-align: center;
  }
}
.form-discount-signUp-input h3 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #632e02;
}
@media (max-width: 570px) {
  .form-discount-signUp-input h3 {
    font-size: 30px;
    text-align: start;
  }
}
.form-discount-signUp-input input {
  width: 100%;
  height: 45px;
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
  padding-left: 10px;
}
@media (max-width: 570px) {
  .form-discount-signUp-input input {
    width: 70%;
    padding-bottom: -5px;
  }
}
.form-discount-signUp-input button {
  padding: 17px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 7px 10px;
  position: absolute;
  top: 162.5px;
  right: 43px;
  border-radius: 7px;
  background-color: #632e02;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 570px) {
  .form-discount-signUp-input button {
    position: unset;
    height: 43px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
  }
}

.coffees {
  max-width: 1300px;
  margin: 0 auto;
  padding: 120px 80px;
}
.coffees h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 1270px) {
  .coffees h2 {
    font-size: 40px;
  }
}
.coffees-section {
  display: flex;
  padding: 30px 0;
}
@media (max-width: 1270px) {
  .coffees-section {
    display: block;
  }
}
.coffees-section .picture-coffee {
  width: 50%;
}
@media (max-width: 1270px) {
  .coffees-section .picture-coffee {
    width: 100%;
    text-align: center;
  }
}
.coffees-section .picture-coffee img {
  width: 60%;
  height: 100%;
}
.coffees-section .pic-position {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1270px) {
  .coffees-section .pic-position {
    justify-content: center;
  }
}
.coffees-section .coffee-description {
  width: 50%;
  border: 2px solid black;
  margin: 80px 0;
  padding: 20px 30px;
  position: relative;
}
@media (max-width: 1270px) {
  .coffees-section .coffee-description {
    width: 100%;
    margin-top: 40px;
  }
}
.coffees-section .coffee-description h3 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
}
.coffees-section .coffee-description p {
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  margin-bottom: 20px;
}
.coffees-section .coffee-description button {
  padding: 17px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  background-color: #ffa600;
  color: #ffffff;
  position: absolute;
  right: 20px;
}
@media (max-width: 1270px) {
  .coffees-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 80px;
  background-image: url("../image/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  border-top-right-radius: 80px;
  padding-top: 80px;
  font-weight: bold;
}
@media (max-width: 570px) {
  .footer {
    padding: 80px 30px 30px 30px;
  }
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  padding-bottom: 30px;
}
@media (max-width: 570px) {
  .footer-container {
    flex-direction: column;
    padding: 80px 30px 30px 30px;
  }
}
.footer-container .footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}
.footer-container .footer-contact .social-media {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  font-size: 40px;
  margin: 20px 0;
}
.footer-container .footer-contact .social-media li {
  margin: 5px;
  cursor: pointer;
}
.footer-container .footer-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 570px) {
  .footer-container .footer-sections {
    flex-direction: column;
  }
}
.footer-container .footer-sections .footer-contact-sections {
  padding: 0 30px;
}
.footer-container .footer-sections .footer-contact-sections h4 {
  color: #632e02;
  font-size: 20px;
  margin-bottom: 30px;
}
.footer-container .footer-sections .footer-contact-sections .last-menu {
  font-weight: 500;
}
.footer-container .footer-sections .footer-contact-sections .last-menu li {
  margin-bottom: 10px;
  color: #632e02;
  font-weight: 700;
}
.footer-bar-end {
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid #632e02;
}
.footer-bar-end p {
  font-weight: normal;
}/*# sourceMappingURL=styles.css.map */