//base files
@import 'partials/base';
@import 'partials/variables';

//mixin import 
@import 'partials/mixins/mixins';

//web page components
@import 'partials/header';
@import 'partials/home';
@import 'partials/about';


  
  

  .third-section {
    margin: 40px 0;
    h2 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 30px;
    }
    .category {
      display: flex;
      height: 650px;
      .list {
        display: flex;
        width: 100%;
        li {
          width: 25%;
          margin: 15px;
          img {
            width: 100%;
            height: 350px;
            border-radius: 40px;
          }
        }
      }
    }
  }
  .fourth-section {
    height: 100vh;
    h2 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 30px;
    }
    .list-menu {
      display: flex;
      width: 100%;
      li {
        width: 25%;
        height: 500px;
        margin: 15px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        box-shadow: -3px 2px 5px rgb(185, 184, 184);
        border-radius: 150px;
        position: relative;
        img {
          width: 270px;
          margin: 6px 0 30px 0;
        }
        .price {
          text-align: center;
          position: relative;
          h4 {
            margin-bottom: 15px;
          }
          p {
            margin-bottom: 15px;
          }
          .quantity {
            display: block;
            margin-bottom: 10px;
          }
          .total-price {
            font-weight: bold;
          }
        }
        .add {
          width: 50px;
          height: 50px;
          background-color: black;
          border-radius: 50%;
          position: absolute;
          bottom: -20px;
          cursor: pointer;
        }
        .add::before {
          content: " \002B ";
          color: #fff;
          position: absolute;
          left: 20px;
          top: 15px;
        }
      }
    }
  }
  .fifth-section {
    background-color: #ffa6006b;
    margin: 40px 0;
    height: 450px;
    background-image: url("./image/restaurante.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(70%);
    position: relative;
    .signUp-input {
      background-color: rgba(255, 255, 255, 0.788);
      padding: 40px;
      border-radius: 10px;
      position: absolute;
      left: 40px;
      bottom: 40px;
      display: inline-block;
      width: 500px;
      h3 {
        font-size: 40px;
        margin-bottom: 20px;
        text-shadow: 0 0 10px #fff;
        color: rgb(71, 43, 0);
      }
      input {
        width: 100%;
        height: 40px;
        border: 1px solid gray;
        border-radius: 5px;
        position: relative;
        padding-left: 10px;
      }
      button {
        height: 30px;
        width: 100px;
        border-radius: 7px;
        position: absolute;
        top: 162px;
        left: 356px;
        background-color: #ffa600;
        border: none;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  .sixth-section {
    padding: 50px 0;
    h2 {
      font-size: 40px;
      text-align: center;
      display: block;
      margin-bottom: 50px;
    }
    .coffee-section {
      display: flex;
      padding: 30px 0;
      .picture-coffee {
        width: 50%;
        img {
          width: 60%;
          height: 100%;
        }
      }
      .pic-position {
        display: flex;
        justify-content: flex-end;
      }
      .coffee-description {
        width: 50%;
        border: 2px solid black;
        margin: 80px 0;
        padding: 20px 30px;
        position: relative;
        h3 {
          font-size: 40px;
          font-weight: 100;
          margin-bottom: 20px;
        }
        p {
          font-size: 20px;
          text-align: justify;
          margin-bottom: 20px;
        }
        button {
          height: 30px;
          width: 100px;
          border-radius: 7px;
          position: absolute;
          right: 30px;
          bottom: 14px;
          background-color: #ffa600;
          border: none;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    -webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
    background-image: url("./image/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    font-weight: bold;
    .footer-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        img {
          width: 30px;
        }
      }
    }
    .sections {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      .space-between-sections {
        padding: 0 30px;
        h4 {
          margin-bottom: 30px;
        }
        .last-menu {
          font-weight: 100;
          li {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
