//base files
@import 'partials/base';
@import 'partials/variables';

//mixin import 
@import 'partials/mixins/mixins';

//web page components
@import 'partials/header';
@import 'partials/home';
@import 'partials/about';
@import 'partials/food-categories';
@import 'partials/dishes';
@import 'partials/form-discount';


  
  

  
  
  
  .sixth-section {
    padding: 50px 0;
    h2 {
      font-size: 40px;
      text-align: center;
      display: block;
      margin-bottom: 50px;
    }
    .coffee-section {
      display: flex;
      padding: 30px 0;
      .picture-coffee {
        width: 50%;
        img {
          width: 60%;
          height: 100%;
        }
      }
      .pic-position {
        display: flex;
        justify-content: flex-end;
      }
      .coffee-description {
        width: 50%;
        border: 2px solid black;
        margin: 80px 0;
        padding: 20px 30px;
        position: relative;
        h3 {
          font-size: 40px;
          font-weight: 100;
          margin-bottom: 20px;
        }
        p {
          font-size: 20px;
          text-align: justify;
          margin-bottom: 20px;
        }
        button {
          height: 30px;
          width: 100px;
          border-radius: 7px;
          position: absolute;
          right: 30px;
          bottom: 14px;
          background-color: #ffa600;
          border: none;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    -webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
    background-image: url("./image/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    font-weight: bold;
    .footer-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        img {
          width: 30px;
        }
      }
    }
    .sections {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      .space-between-sections {
        padding: 0 30px;
        h4 {
          margin-bottom: 30px;
        }
        .last-menu {
          font-weight: 100;
          li {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
