@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "century gothic", Arial, Helvetica, sans-serif;
}

body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}

.header {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-brand {
  display: flex;
}
.header-brand span {
  display: flex;
  font-weight: bold;
  font-size: 50px;
  text-shadow: -2px 2px 3px #bdbdbd;
  cursor: pointer;
}
.header-brand span div {
  color: #ffa600;
}
.header-nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav-bar ul li {
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.header-nav-bar ul li .active {
  background-color: #ffa600;
  padding: 10px;
  border-radius: 10px;
}
.header-nav-bar ul li .active:hover {
  color: white;
}
.header-nav-bar ul li a {
  color: black;
}
.header-nav-bar ul li a:hover {
  color: #632e02;
  transition: 400ms;
}

.container {
  display: flex;
  background-image: url("../image/design-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem 0;
  padding-bottom: 100px;
}
.container-introduction {
  padding-top: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.container-introduction h1 {
  font-size: 80px;
  color: #000000;
}
.container-introduction h1 .color {
  color: #ffa600;
}
.container-introduction .info {
  margin: 50px 0px 50px 50px;
}
.container-introduction .info li {
  margin: 15px 0;
  font-size: 23px;
}
.container-introduction .info li::before {
  content: " ✓ ";
}
.container-introduction .buttons {
  margin: 25px 45px;
}
.container-introduction .buttons button {
  padding: 17px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ffa600;
}
.container-introduction .buttons button:last-child {
  background-color: #632e02;
}
.container-picture-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/salada-de-frutas.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.about {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  padding: 120px 0;
}
.about-cheff-pic {
  width: 50%;
  background-image: url("../image/photo-cheff.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.about-text-description {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 50px;
}
.about-text-description h2 {
  font-size: 60px;
  margin-bottom: 30px;
}
.about-text-description .about-text-paragraph {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: justify;
}
.about-text-description .info-list-about {
  margin: 20px 0;
}
.about-text-description .info-list-about li {
  margin: 15px 0;
  font-size: 20px;
}
.about-text-description .info-list-about li::before {
  content: " ✓ ";
}
.about-text-description button {
  padding: 17px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ffa600;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem 0;
  padding: 60px 0;
}
.content h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.content-category {
  display: flex;
}
.content-category .list {
  display: flex;
  width: 100%;
}
.content-category .list li {
  width: 25%;
  margin: 15px;
  text-align: center;
}
.content-category .list li img {
  width: 100%;
  height: 350px;
  border-radius: 40px;
  cursor: pointer;
}
.content-category .list li span {
  margin-top: 20px;
  font-size: 25px;
}

.dishers {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem 0;
  padding: 60px 0;
}
.dishers h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.dishers-content {
  margin: 20px 0;
}
.dishers-content .list-menu {
  display: flex;
  width: 100%;
}
.dishers-content .list-menu li {
  width: 25%;
  height: 500px;
  margin: 15px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 15px 20px #bdbdbd;
  border-radius: 150px;
  position: relative;
}
.dishers-content .list-menu li .dishers-type {
  width: 100%;
  height: 60%;
}
.dishers-content .list-menu li #card-1 {
  background-image: url("../image/prato1-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.dishers-content .list-menu li #card-2 {
  background-image: url("../image/prato2-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.dishers-content .list-menu li #card-3 {
  background-image: url("../image/prato3-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.dishers-content .list-menu li #card-4 {
  background-image: url("../image/prato4-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.dishers-content .list-menu li .price {
  margin: 20px;
  text-align: center;
  line-height: 25px;
  position: relative;
}
.dishers-content .list-menu li .price h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.dishers-content .list-menu li .price .quantity {
  display: block;
}
.dishers-content .list-menu li .price .total-price {
  font-weight: bold;
}
.dishers-content .list-menu li .add {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  cursor: pointer;
}
.dishers-content .list-menu li .add::before {
  content: "";
  font-family: "FontAwesome";
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 21px;
}

.fifth-section {
  background-color: #ffa6006b;
  margin: 40px 0;
  height: 450px;
  background-image: url("./image/restaurante.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(70%);
  position: relative;
}
.fifth-section .signUp-input {
  background-color: rgba(255, 255, 255, 0.788);
  padding: 40px;
  border-radius: 10px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: inline-block;
  width: 500px;
}
.fifth-section .signUp-input h3 {
  font-size: 40px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #fff;
  color: #472b00;
}
.fifth-section .signUp-input input {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  padding-left: 10px;
}
.fifth-section .signUp-input button {
  height: 30px;
  width: 100px;
  border-radius: 7px;
  position: absolute;
  top: 162px;
  left: 356px;
  background-color: #ffa600;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sixth-section {
  padding: 50px 0;
}
.sixth-section h2 {
  font-size: 40px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}
.sixth-section .coffee-section {
  display: flex;
  padding: 30px 0;
}
.sixth-section .coffee-section .picture-coffee {
  width: 50%;
}
.sixth-section .coffee-section .picture-coffee img {
  width: 60%;
  height: 100%;
}
.sixth-section .coffee-section .pic-position {
  display: flex;
  justify-content: flex-end;
}
.sixth-section .coffee-section .coffee-description {
  width: 50%;
  border: 2px solid black;
  margin: 80px 0;
  padding: 20px 30px;
  position: relative;
}
.sixth-section .coffee-section .coffee-description h3 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
}
.sixth-section .coffee-section .coffee-description p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}
.sixth-section .coffee-section .coffee-description button {
  height: 30px;
  width: 100px;
  border-radius: 7px;
  position: absolute;
  right: 30px;
  bottom: 14px;
  background-color: #ffa600;
  border: none;
  color: #fff;
  cursor: pointer;
}

.footer {
  -webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
  background-image: url("./image/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  font-weight: bold;
}
.footer .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer-contact ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.footer .footer-contact ul img {
  width: 30px;
}
.footer .sections {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footer .sections .space-between-sections {
  padding: 0 30px;
}
.footer .sections .space-between-sections h4 {
  margin-bottom: 30px;
}
.footer .sections .space-between-sections .last-menu {
  font-weight: 100;
}
.footer .sections .space-between-sections .last-menu li {
  margin-bottom: 10px;
}/*# sourceMappingURL=styles.css.map */