.about{
    @include container(120px);
    display: flex;

    @media (min-width: 1024px) and (max-width: 1270px) {
        padding: 120px 40px;
    }

    @media (max-width:  1024px) {
        display: block;
        padding: 80px 30px; //verificar regra padrão
    }

    &-cheff-pic {
        width: $display-width;
        @include bg-image('photo-cheff.png', 100%, center);

        @media (max-width:  1024px) {
            width: 100%;
            @include bg-image('photo-cheff.png', contain, center);
            height: 70vh;
        }
    }

    &-text-description {
        width: $display-width;
        @include align-flex(flex, flex-start, flex-start);
        flex-direction: column;
        padding: 0 50px;

        @media (max-width:  1024px) {
            width: 100%;
        }

        h2 {
            font-size: $size-font-subtitle;
            margin-bottom: 30px;

            @media (max-width: 1270px) {
                font-size: 40px;
            }
        }

        .about-text-paragraph {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 30px;
            text-align: justify;

            @media (max-width: 1270px) {
                font-size: 18px;
                line-height: 25px;
            }

        }

        .info-list-about {
            margin: 20px 0;

            li {
                margin: 15px 0;
                font-size: 20px;

                @media (max-width: 1270px) {
                    font-size: 18px;
                    line-height: 25px;
                }

                &::before {
                    content: " ✓ ";
                }
            }
        }

        button {
            @include style-btn;
            color: $white-color;
            background-color: $main-orange-color;

            @media (max-width: 1270px) {
                padding: 15px 30px;
                font-size: 17px;
            }
        }
    } 
}