.coffees {
    @include container(120px);

    h2 {
        font-size: $size-font-subtitle;
        text-align: center;
        margin-bottom: 50px;

        @media (max-width: 1270px) {
            font-size: 40px;
        }
    }

    &-section {
        display: flex;
        padding: 30px 0;

        @media (max-width: 1270px) {
           display: block; 
        }

        .picture-coffee {
            width: $display-width;

            @media (max-width: 1270px) {
                width: 100%; 
                text-align: center;
            }

            img {
            width: 60%;
            height: 100%;
            }
        }

        .pic-position {
            display: flex;
            justify-content: flex-end;

            @media (max-width: 1270px) {
                justify-content: center;
                
            }
        }
      
        .coffee-description {
            width: $display-width;
            border: 2px solid black;
            margin: 80px 0;
            padding: 20px 30px;
            position: relative;

            @media (max-width: 1270px) {
                width: 100%; 
                margin-top: 40px;
            }

            h3 {
                font-size: 40px;
                font-weight: 100;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                line-height: 27px;
                text-align: justify;
                margin-bottom: 20px;
            }
            button {
                @include style-btn;
                background-color: $main-orange-color;
                color: $white-color;
                position: absolute;
                right: 20px;
            }
        }
    }

    &-reverse {
        @media (max-width: 1270px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}