.coffees {
    @include container(120px);

    @include landscape {
        padding: 80px 30px;
    }

    @include mobile {
        padding: 80px 30px;
    }

    h2 {
        font-size: $size-font-subtitle;
        text-align: center;
        margin-bottom: 50px;

        @include normal-desktop {
            font-size: 40px;
        }
    }

    &-section {
        display: flex;
        padding: 30px 0;

        @include tablet {
           display: block; 
        }

        .picture-coffee {
            width: $display-width;

            @include normal-desktop {
                width: 100%; 
                text-align: center;
            }

            img {
                width: 60%;
                height: 100%;

                @include normal-desktop {
                    width: 80%; 
                }

                @include mobile {
                    width: 100%;
                }
            }
        }

        .pic-position {
            display: flex;
            justify-content: flex-end;

            @include normal-desktop {
                justify-content: center;
                
            }
        }
      
        .coffee-description {
            width: $display-width;
            border: 2px solid black;
            margin: 80px 0;
            padding: 20px 30px;
            position: relative;

            @include normal-desktop {
                width: 100%; 
                margin-top: 40px;
            }

            h3 {
                font-size: 40px;
                font-weight: 100;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                line-height: 27px;
                text-align: justify;
                margin-bottom: 20px;
            }
            
            button {
                @include style-btn;
                background-color: $main-orange-color;
                color: $white-color;
                position: absolute;
                right: 20px;
            }
        }
    }

    &-reverse {
        @include tablet {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}