.footer {
    @include container(10px);
    background-color: $main-orange-color;
    border-top-right-radius: 80px;
    padding-top: 80px;
    font-weight: bold;

    @include landscape {
        padding: 30px 30px;
    }

    &-container {
        @include align-flex(flex, space-between, unset);
        padding-bottom: 30px;

        @include resize-screen(690px) {
            flex-direction: column-reverse;
            padding: 30px;
        }

        .footer-contact {
            @include align-flex(flex, center, center);
            flex-direction: column;
            padding-top: 60px;

            .social-media {
                @include align-flex(flex, space-between, unset);
                font-size: 40px;
                margin: 20px 0;

                li {
                    margin: 5px;
                    cursor: pointer;
                }
            }
        }

        .footer-sections {
            @include align-flex(flex, space-between, center);
            color: $white-color;

            @include resize-screen(600px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0 auto;
                padding-left: 20px;
            }

            .footer-contact-sections {
                padding: 0 30px;

                @include resize-screen(870px) {
                    padding: 0 10px;
                    
                }

                @include resize-screen(600px) {
                    margin: 15px 0;
                    padding: 0;
                }
    
                h4 {
                    color: $brown-hue;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
    
                .last-menu {
                    font-weight: 500;

                    @include resize-screen(600px) {
                        text-align: start;
                    }
    
                    li {
                        margin-bottom: 10px;
                        color: $brown-hue;
                        font-weight: 700;

                        @include resize-screen(600px) {
                            text-align: start;
                        }
                    }
                }
            }
        }
    } 
    
    &-bar-end {
        text-align: center;
        padding: 20px 0;
        border-top: 2px solid $brown-hue;

        p {
            font-weight: normal;
        }
    }
}
