.form-discount {
    height: 450px;
    @include container(80px);
    @include bg-image('restaurante.png', cover, center);
    filter: grayscale(70%);
    position: relative;

    &-signUp-input {
        background-color: #ffffffc9;
        padding: 40px;
        border-radius: 10px;
        position: absolute;
        left: 40px;
        bottom: 40px;
        display: inline-block;
        width: 500px;

        @include resize-screen(570px) {
            width: 80%;
            padding: 40px 15px;
            text-align: center;
        }

        h3 {
            font-size: 40px;
            margin-bottom: 20px;
            color: $brown-hue;

            @include resize-screen(570px) {
                font-size: 30px;
                text-align: start;
            }
        }

        input {
            width: 100%;
            height: 45px;
            border: 1px solid gray;
            border-radius: 10px;
            position: relative;
            padding-left: 10px;

            @include resize-screen(570px) {
                width: 70%;
                padding-bottom: -5px;
            }
        }
        
        button {
            @include style-btn;
            padding: 7px 10px;
            position: absolute;
            top: 162.5px;
            right: 43px;
            border-radius: 7px;
            background-color: $brown-hue;
            color: $white-color;
            cursor: pointer;

            @include resize-screen(570px) {
                position: unset;
                height: 43px;
                border: none;
                border-radius: 10px;
                font-size: 12px;
            }
        }
    }
}