.header {
    @include container(1.5rem);
    @include align-flex(flex, space-between, center);

    @media (max-width:1024px) {
        @include container(10px);
    } 

    @media (max-width: 570px) {
        padding: 0 30px;
    }
    
    &-brand {
        display: flex;

        span {
            display: flex;
            font-weight: bold;
            font-size: 50px;
            text-shadow: -2px 2px 3px #bdbdbd;
            cursor: pointer;

            div {
                color: $main-orange-color;
            }   
        }
    }

    &-nav-bar {

        ul {
            @include align-flex(flex, center, center);

            li {
                padding: 15px 20px;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;

                @media (min-width: 1024px) and (max-width: 1150px) {
                    font-size: 13px;
                    padding: 15px;
                }

                .active {
                    background-color: $main-orange-color;
                    padding: 10px;
                    border-radius: 10px;

                    &:hover {
                        color: white;
                    }
                }

                a {
                    color: black;

                    &:hover {
                        color: $brown-hue;
                        transition: 400ms;
                    
                    }
                }
            } 
            
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    &-social-media {

        .social-menu {
            @include align-flex(flex, space-between, unset);
            font-size: 30px;
            margin: 20px 0;

            @media (max-width: 768px) {
                display: none;
            }

            li {
                margin: 5px;
                cursor: pointer;


                @media (max-width: 1024px) {
                    margin: 20px;
                }               
            }
        }
    }

    &-menu-btn {
        @include align-flex(flex, center, center);
        font-size: 60px;
        color: $main-orange-color;
        width: 80px;
        height: 80px;
        cursor: pointer;
        display: none;
        margin: 20px 0;

        @media (max-width: 1024px) {
            display: flex;
        }
    }
}