.header {
    @include container;
    @include align-flex(flex, space-between, center);
    
    &-brand {
        display: flex;

        span {
            display: flex;
            font-weight: bold;
            font-size: 50px;
            text-shadow: -2px 2px 3px #bdbdbd;
            cursor: pointer;

            div {
                color: $main-orange-color;
            }
        }
    }

    &-nav-bar {

        ul {
            @include align-flex(flex, center, center);

            li {
                padding: 15px 20px;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;

                .active {
                    background-color: $main-orange-color;
                    padding: 10px;
                    border-radius: 10px;

                    &:hover {
                        color: white;
                    }
                }

                a {
                    color: black;

                    &:hover {
                        color: $brown-hue;
                        transition: 400ms;
                    
                    }
                }
            }
        }
    }

    &-social-media {

        .social-menu {
            @include align-flex(flex, space-between, unset);
            font-size: 30px;
            margin: 20px 0;

            li {
                margin: 5px;
                cursor: pointer;
            }
        }
    }
}