.header {
    @include container(1.5rem);
    @include align-flex(flex, space-between, center);

    @include tablet {
        @include container(10px);
    } 

    @include landscape {
        padding: 10px 30px;
    }
    
    &-brand {
        display: flex;

        span {
            display: flex;
            font-weight: bold;
            font-size: 50px;
            text-shadow: -2px 2px 3px #bdbdbd;
            cursor: pointer;

            @include mobile {
                font-size: 40px;
            }

            div {
                color: $main-orange-color;
            }  
        }
    }

    &-nav-bar {

        ul {
            @include align-flex(flex, center, center);

            @include tablet {
                display: none;
            }

            li {
                padding: 15px 20px;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;

                @include normal-desktop {
                    font-size: 13px;
                    padding: 15px;
                }

                .active {
                    background-color: $main-orange-color;
                    padding: 10px;
                    border-radius: 10px;

                    &:hover {
                        color: white;
                    }
                }

                a {
                    color: black;

                    &:hover {
                        color: $brown-hue;
                        transition: 400ms;
                    
                    }
                }
            }   
        }
    }

    &-social-media {

        .social-menu {
            @include align-flex(flex, space-between, unset);
            font-size: 30px;

            @include landscape {
                display: none;
            }

            li {
                margin: 5px;
                cursor: pointer;


                @include landscape {
                    margin: 20px;
                }               
            }
        }
    }

    &-menu-btn {
        @include align-flex(flex, center, center);
        font-size: 60px;
        color: $main-orange-color;
        width: 80px;
        height: 80px;
        cursor: pointer;
        display: none;
        margin: 10px 0;

        @include tablet {
            display: flex;
        }
    }
}