    
.container {
    display: flex;
    @include bg-image('design-banner.png', cover, right);
    @include container;
    padding-bottom: 100px;

    &-introduction {
        padding-top: 50px;
        width: $display-width;
        @include align-flex(flex, center, flex-start);
        flex-direction: column;

        h1 {
            font-size: 80px;
            color: #000000;

            .color {
                color: $main-orange-color;
            }
        }  
        
        .info {
            margin: 50px 0px 50px 50px;

            li {
                margin: 15px 0;
                font-size: 23px;
                
                &::before {
                    content: " ✓ ";
                }
            }
        }

        .buttons {
            margin: 25px 45px;
            
            button {
                @include style-btn;
                color: $white-color;
                background-color: $main-orange-color;

                &:last-child {
                    background-color: $brown-hue;
                }
            }
        }
    }
    
    &-picture-img {
        width: $display-width;
        @include align-flex(flex, center, center);
        @include bg-image('salada-de-frutas.png', 100%, center);
    }
}



